.board{
    &-item{
        background-color: var(--color-gray);
        padding:var(--padding-small);
        width: 423px;
    }
    
    color:#000;
    &__list{
        display:flex;
        align-items: start;
        justify-content: center;

        column-gap: 10px;
        @include tablet{
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap:10px;
        }
    }
    &__title-wrapper{
        margin-bottom: 10px;
        display: flex;
        justify-content: space-between;
    }
}