:root{
    --color-aqua:#17aca3;
    --color-yellow:#ffed8f;
    --color-gray:#d6d6d6;
    --color-pink:#ffb9b9;
    --color-light-down:#f3f5f6;
    --color-light:#ffffff;
    --color-gray-dark:#b5a5a5;

    --box-shadow:0px 10px 0px 0px rgba(0, 0, 0, 0.15);

    --border-radius:12px;
    --border-radius-small:9px;

    --padding-inline:100px;
    --padding-block:52px;
    --padding-small:25px;

    --gap:10px;

    --font-family-base:"Open Sans",sans-serif;


    --container-width:2175px;

    --button-height:38px;

}